# --- API ---
PORT=
VERIFY_TOKEN=

# Meta App Secret (para validar X-Hub-Signature-256)
META_APP_SECRET=

# Tu IG account id 
IG_ACCOUNT_ID=

# Token IG Login (IGAA...)
ACCESS_TOKEN=
API_VERSION=v25.0

# --- Supabase ---
SUPABASE_URL=https://YOUR_PROJECT.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

# --- Worker ---
WORKER_THRESHOLD_MESSAGES=10
WORKER_THRESHOLD_POLL_SECONDS=120
WORKER_HOURLY_POLL_SECONDS=60